.logo{
    width: 120px;
    height: 50px;
    margin-left: 100px;
    border-radius: 50px;
}

button{
    margin-right: 100px;
}
.header{
    background-color: rgb(255, 24, 24);
    height: 90px;
}
.botonf{
    background-image: url("https://img.icons8.com/office/480/pokedex.png");
    background-size: 50px;
   width: 53px;
   height: 52px;
   padding: none;
}

.imagenn1{
    width: 50%;
}
.imagenn2{
    width: 50%;
 
}
