.logo{
    width: 120px;
    height: 50px;
    margin-left: 100px;
}

button{
    margin-right: 100px;
}
.header{
    background-color: rgb(255, 24, 24);
}
.botonf{
    background-color: rgb(29, 29, 175);
}
.imagenn1{
    width: 50%;
}
.imagenn2{
    width: 50%;
}