.cartass{
    display: flex;
justify-content: center;
    border: 1px solid white;
    border-radius: 100%;
    color: aliceblue;
    width: 100vw;
}
.imagen{
    width: 500px;
    height: 500px;
border-radius: 100%;
border: 1px solid black;
margin-right: 10px; 
}

.descripcion{
    width: 500px;
    height: 500px;
   
    border-radius: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}