.cartass{
    display: flex;
justify-content: center;
    border: 1px solid white;
    border-radius: 100%;
    color: aliceblue;
    width: 100vw;
}
.imagen{
    width: 500px;
    height: 500px;
border-radius: 100%;
border: 1px solid black;
margin-right: 10px; 
}

.descripcion{
    width: 500px;
    height: 500px;
   
    border-radius: 10px;
    background-image: linear-gradient(90deg, red, black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagenn{
    height: 50px;

}
.botonvolver1{
    background-image: linear-gradient(180deg, black, transparent);
    margin-bottom: 100px;
}
.botonvolver{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;}
.todo{
    margin-bottom: 300px;
}